.unread-file {
    background-color: map-get($colors, nesuku-primary)
}

.ion-fab-root-btn {
    box-shadow: 1px 3px 3px lightgray;
}

.ion-fab-child-btn {
    color: map-get($colors, primary);
    box-shadow: 1px 3px 3px lightgray;
}